@model List<DAL.Models.Photo>

@using DAL

@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@{
    ViewBag.Title = "GetAllImage";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">            
            @Html.ActionLink("My Account", "UserAccount", "User", new { idUser = @ViewBag.idUser, visitorId = ViewBag.VisitorId }, new { @class = "navbar-brand" })
        </div>
    </div>
</div>

@*<div class="form-group">
    <input type="text"  id="search" placeholder="Вводите тег/теги через пробел">
</div>*@

<div class="buttons-container">
    @foreach (var tag in ViewBag.Tags)
    {
        <div class="hr">
            <span>@tag</span>
        </div>
    }
</div>

<form action="@Url.Action("Search",new { idUser = @ViewBag.idUser, photo = Model, visitorId = ViewBag.VisitorId})" method="POST">
    <input required id="fileInput2" name="searchText" type="text" placeholder="Вводите тег/теги через пробел" />
    <input type="submit" value="Search" id="btnFileUpload" />
</form>

<table class="table">
    @for (int i = 0; i <= Model.Count; i=i+2)
    {

        <tr>
            <td>
               @{
                   if (i < Model.Count)

                   {
                       String img64 = Convert.ToBase64String(Model[i].File);
                       String img64Url = string.Format("data:image/jpg;base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
                       <img class="homeImg" src="@img64Url"  tabindex="0"/>
                       int likes = Dal.GetLikes(Model[i].IdPhoto);
                       Dal dal = new Dal();
                       DAL.Models.User user = dal.GetUser(Model[i].IdUser);
                       <div>
                           <span>@Html.ActionLink(@user.UserName, "UserAccount", "User", new { idUser = @user.IdUser, visitorId = @ViewBag.VisitorId }, new { @class = "navbar-brand" })</span>
                           @if ((@Model[i].IdUser == @ViewBag.VisitorId) || (@ViewBag.VisitorId == 1))
                           {
                            <span>@Html.ActionLink("Delete ", "Delete", "User", new { idPhoto = Model[i].IdPhoto, idUser = @user.IdUser, actions = @"GetAllImage", visitorId = ViewBag.VisitorId }, new { @class = "navbar-brand" })</span>
                           }
                           <span class="navbar-brand">@likes likes</span>
                           @*<span onclick="giveLike()" class="like">&#9829;</span>*@
                       </div>
                   }
            }
            </td>
            <td>
                @{
                    if (i+1 < Model.Count)

                    {
                        String img = Convert.ToBase64String(Model[i+1].File);
                        String imgUrl = string.Format("data:image/jpg;base64,{0}", img); //imagetype can be e.g. gif, jpeg, png etc.
                        <img class="homeImg" src="@imgUrl"  tabindex="0"/>
                        int likes = Dal.GetLikes(Model[i + 1].IdPhoto);
                        Dal dal = new Dal();
                        DAL.Models.User user = dal.GetUser(Model[i+1].IdUser);
                        <div>
                            <span>@Html.ActionLink(@user.UserName, "UserAccount", "User", new { idUser = @user.IdUser, visitorId = @ViewBag.VisitorId }, new { @class = "navbar-brand" })</span>
                            @if ((@Model[i + 1].IdUser == @ViewBag.VisitorId) || (@ViewBag.VisitorId == 1)) 
                            {
                                <span>@Html.ActionLink("Delete ", "Delete", "User", new { idPhoto = Model[i + 1].IdPhoto, idUser = @user.IdUser, actions = @"GetAllImage", visitorId = ViewBag.VisitorId }, new { @class = "navbar-brand" })</span>
                            }
                            <span class="navbar-brand">@likes likes</span>
                            @*<span onclick="giveLike()" class="like">&#9829;</span>*@
                        </div>
                    }
                }                
            </td>
        </tr>
    }
</table>
