@model DAL.Models.User

    <span class="user-name">@Model.UserName</span>
    <div class="avatar-container">
        @{ 
            String avatar = Convert.ToBase64String(@Model.Avatar);
            String avatarUrl = string.Format("data:image/jpg;base64,{0}", avatar);
        }
        <img class="user-avatar" src="@avatarUrl">
        @*<input class="file-input" type="file">*@
        <form id="fileUpload" action="@Url.Action("AddImage",@Model.IdUser)" method="POST" enctype="multipart/form-data">
            <input id="fileInput" type="file" />
            <input type="submit" value="Upload file" id="btnFileUpload" />
        </form>
    </div>
    <hr />
    <div class="buttons-container">
        @foreach (var tag in ViewBag.Tags)
        {
            <div class="hr">
                <span>@tag</span>
            </div>
        }
    </div>

<table class="table">
    @for (int i = 0; i <= ViewBag.Photos.Count; i = i + 2)
    {

        <tr>
            <td>
                @{
                    if (i < ViewBag.Photos.Count)

                    {
                        String img64 = Convert.ToBase64String(ViewBag.Photos[i].File);
                        String img64Url = string.Format("data:image/jpg;base64,{0}", img64); //imagetype can be e.g. gif, jpeg, png etc.
                        <img class="homeImg" src="@img64Url"  tabindex="0"/>
                    }
                }
            </td>
            <td>
                @{
                    if (i + 1 < ViewBag.Photos.Count)

                    {
                        String img = Convert.ToBase64String(ViewBag.Photos[i + 1].File);
                        String imgUrl = string.Format("data:image/jpg;base64,{0}", img); //imagetype can be e.g. gif, jpeg, png etc.
                        <img class="homeImg" src="@imgUrl"  tabindex="0"/>
                    }
                }
            </td>
        </tr>
                    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>

